{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<form action="/changepassword" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old-password" name="old-password"
            placeholder="Old password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new-password-first"
            name="new-password-first" placeholder="New password" type="password">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new-password-repeat"
            name="new-password-repeat" placeholder="Repeat new password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
{% endblock %}