{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<form action="/" method="post">
    <table class="table mx-auto" style="width: 60%">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
                <th scope="col">Symbol</th>
                <th scope="col">No. of shares</th>
                <th scope="col">Share price $</th>
                <th scope="col">Total value $</th>
            </tr>
        </thead>
        <tbody>
            {% for stockAmountLine in purchaseList %}
            <tr>
                <th scope="row">{{ stockAmountLine["ordinal"] }}</th>
                <td>{{ stockAmountLine["timestamp"] }}</td>
                <td>{{ stockAmountLine["action"] }}</td>
                <td>{{ stockAmountLine["symbol"] }}</td>
                <td>{{ stockAmountLine["amount"] }}</td>
                <td>{{ stockAmountLine["historicalPrice"] }}</td>
                <td>{{ stockAmountLine["totalValue"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}